html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  background-color: azure;
}

.nav {
  height: 60px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  border: 2px solid bisque;
  margin: 0px 0px;
}

.nav p {
    font-size: 23px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-ul {
  display: flex;
  list-style: none;
}

.nav-ul li a {
    margin-left: 40px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    border-left: 2px solid black;
    padding-left: 20px;
}

.nav-ul li a:hover {
    color: brown;
}

.container {
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: 80px 250px;
  padding: 10px;
}

.h1-all {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#book-list {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 20px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornsilk;
  padding: 10px;
  border-bottom: 8px solid azure;
}

.book p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.book .btn {
  margin-right: 20px;
  height: 25px;
  width: 80px;
  background-color: red;
  color: white;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: red;
  cursor: pointer;
}

.line {
  display: block;
  align-self: center;
  border: 1px solid darkkhaki;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 110px;
  height: 3px;
  border-radius: 5px;
  background-color: darkkhaki;
}

#book-form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.h2-add {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title,
#author {
  width: 500px;
  border-color: cornsilk;
  padding: 5px;
  height: 20px;
  margin-bottom: 30px;
}

#book-form .btn {
  background-color: rgb(97, 229, 97);
  color: black;
  border-color: aquamarine;
  width: 40px;
  height: 25px;
  align-self: self-end;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.h3-contact {
    align-self: center;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul-contact {
   align-self: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

.ul-contact li {
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul-contact li span{
    color:brown;
}

footer {
    background-color: brown;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid bisque;
    margin: 10px 0px;
    color: white;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


